# directories where documents from corpus are stored
documents/*
textual_contents/*

# chunks saved in txt files
stats/*/*/chunks.txt

# Qdrant Docker volume
database/qdrant_data/*
rag/qdrant_data/*

# env files (to run locally and to compare / evaluate systems)
.env
envs/*

# dataset (dev and test) to evaluate RAG
private_questions_dataset.csv

# analysis results for RAG hyperparameters
analysis/chunkings_comparison/comparison_results/*
analysis/loaders_comparison/comparison_results/*

.idea/*
