beautifulsoup4==4.14.3
chainlit==2.11.0
docling==2.83.0
fastapi==0.135.1
fastembed==0.8.0
langchain==1.2.10
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.27
langchain-docling==2.0.0
langchain-experimental==0.4.1
langchain-openai==1.1.12
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.1
langdetect==1.0.9
langfuse==3.14.5
matplotlib==3.10.8
mistral_common==1.10.0
numpy==2.3.5
openai==2.29.0
pandas==3.0.1
playwright==1.61.0
pydantic==2.12.5
python-docx==1.2.0
python-dotenv==1.2.2
qdrant-client==1.17.0
ragas==0.4.3
requests==2.32.5
sacrebleu==2.6.0
seaborn==0.13.2
scipy==1.17.1
starlette==1.0.0
tesseract==0.1.3
tika==3.1.0
tqdm==4.67.3
uvicorn==0.41.0
