langdetect
langchain-experimental
chainlit
starlette
pydantic
fastapi
uvicorn
requests
tika
docling
tqdm
matplotlib
langchain-core
langchain-docling
qdrant-client
python-dotenv
langfuse
langchain-openai
langchain-qdrant
langchain-text-splitters
langchain-community
python-docx
pymupdf
langchain-classic
pandas
openai
langchain
fastembed