beautifulsoup4
chainlit
docling
fastapi
fastembed
langchain
langchain-classic
langchain-community
langchain-core
langchain-docling
langchain-experimental
langchain-openai
langchain-qdrant
langchain-text-splitters
langdetect
langfuse
matplotlib
openai
pandas
playwright
pydantic
pymupdf
python-docx
python-dotenv
qdrant-client
ragas
requests
sacrebleu
starlette
tesseract
tika
tqdm
uvicorn