# Langfuse
LANGFUSE_SECRET_KEY="{{ secrets.langfuse.secret_key }}"
LANGFUSE_PUBLIC_KEY="{{ secrets.langfuse.public_key }}"
LANGFUSE_BASE_URL="http://localhost:3000"

# RCP
MODELS_BASE_URL="https://inference.rcp.epfl.ch/v1"

MODEL_EMBEDDINGS_NAME="BAAI/bge-m3"
MODEL_EMBEDDINGS_API_KEY="{{ secrets.rcp.embedding.bge }}"

MODEL_LLM_NAME="mistralai/Mistral-Small-3.2-24B-Instruct-2506"
MODEL_LLM_API_KEY="{{ secrets.rcp.llm.mistral }}"
MAX_TOKENS_LLM="500"
TEMPERATURE_LLM="0.0"

# LOCAL -> TODO : relire depuis autre fichier env cree lors de la construction / indexation du corpus
MODEL_SPARSE_NAME="Qdrant/bm25"
MODEL_SPARSE_AVG_LEN_FR="254.77109004739336"
MODEL_SPARSE_VECTOR_NAME_FR="sparse_fr"
MODEL_SPARSE_AVG_LEN_EN="242.83090128755364"
MODEL_SPARSE_VECTOR_NAME_EN="sparse_en"

# DB -> TODO : faire pareil (merge)
QDRANT_URL="http://localhost:6333"
QDRANT_COLLECTION_NAME="dev_202606145_wip_deployment"
QDRANT_NB_CHUNKS_RETRIEVED="5"
